<%= form_with(model: orderdetail) do |form| %>
<% if orderdetail.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(orderdetail.errors.count, "error") %> prohibited this orderdetail from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% orderdetail.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :quantity, class: label_class %>
          <%= form.number_field :quantity, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :rate, class: label_class %>
          <%= form.number_field :rate, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :review, class: label_class %>
          <%= form.text_area :review, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :reviewdate, class: label_class %>
          <%= form.datetime_field :reviewdate, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :order_id, class: label_class %>
          <%= form.text_field :order_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :product_id, class: label_class %>
          <%= form.text_field :product_id, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if orderdetail.persisted? %>
<%= link_to "Cancel", orderdetail, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", orderdetails_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
